@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  letter-spacing: -0.4px;
}

:root {
  --primary-color: #ff385c;
  --secondary-color: #222222;
  --divider-color: rgb(230 230 230);
  --dark-divider-color: rgb(210 210 210);
  --hover-gray: rgb(247 247 247);
  --gray-text: #717171;
  --dark-shadow: rgb(200 200 200);
}

.container {
  width: 89.5%;
  margin: auto;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}

button {
  border: none;
  outline: none;
  background-color: #fff;
  cursor: pointer;
}

span {
  display: inline-block;
}

.page-header {
  display: flex;
  padding: 0.92rem 0;
  border-top: 1px solid var(--divider-color);
  border-bottom: 1px solid var(--divider-color);
  line-height: 20px;
  font-size: 14px;
  background-color: #fff;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
}

.logo-container svg {
  color: var(--primary-color);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.header-container .middle .wrapper {
  border-radius: 25px;
  border: 1px solid var(--dark-divider-color);
  padding: 0.5rem;
  box-shadow: 0px 2px 5px -1px var(--divider-color);
  transition: box-shadow 150ms ease;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.header-container .middle .wrapper:hover {
  box-shadow: 0px 3px 8px -2px var(--dark-shadow);
}

.header-container .middle span {
  padding: 0 1rem;
}

.header-container .middle .wrapper > span {
  font-weight: 500;
  border-right: 1px solid var(--dark-divider-color);
}

.header-container .middle .search {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-container .middle .search button {
  border: none;
  outline: none;
  background-color: var(--primary-color);
  color: #fff;
  padding: 0.6rem;
  border-radius: 50%;
  line-height: 0;
  font-size: 12px;
  font-weight: 700;
}

.header-container .middle .search span {
  color: var(--gray-text);
  font-weight: 300;
}

.header-container .action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container .action a,
.header-container .action .globe-container {
  font-weight: 500;
  border-radius: 22px;
  padding: 0.5rem 0.8rem;
  transition: background 150ms ease;
}

.header-container .action .globe-container {
  padding: 0.8rem 1rem;
  cursor: pointer;
}

.header-container .action a:hover,
.header-container .action .globe-container:hover {
  background: var(--hover-gray);
}

.header-container .action .globe-container,
.header-container .action .user-action {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-container .action .user-action {
  border: 1px solid var(--divider-color);
  padding: 0.3rem 0.3rem 0.3rem 0.8rem;
  border-radius: 22px;
  gap: 0.8rem;
  color: var(--gray-text);
  transition: box-shadow 150ms ease;
  margin-left: 5px;
}

.header-container .action .user-action:hover {
  box-shadow: 0px 4px 5px -2px var(--dark-shadow);
}
.header-container .user-action .user {
  width: 30px;
  overflow: hidden;
  position: relative;
  color: var(--gray-text);
}

/******** FILTER SECTION *******/

.filter-section {
  padding: 1.6rem 0;
}

.filter-section .filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filter-section .filter-container .filter-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.filter-section .filter-links .next-btn-container {
  position: absolute;
  right: 0%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  box-shadow: -10px 0px 18px 1px #fff;
  z-index: 2;
}

.filter-section .filter-links .next-btn {
  border: 1px solid var(--dark-divider-color);
  border-radius: 50%;
  padding: 0.4rem;
  background-color: #fff;
  transition: box-shadow 150ms ease;
}

.filter-container .filter-links .next-btn:hover {
  box-shadow: 0px 8px 15px 0px var(--divider-color);
}

.filter-container .single-filter-link {
  width: fit-content;
  padding: 0.6rem 0;
  transition: all 150ms ease;
  white-space: nowrap;
}

.filter-container .single-filter-link:first-child {
  border-bottom: 3px solid var(--secondary-color);
  cursor: default;
}
.single-filter-link span {
  font-size: 12px;
  font-weight: 500;
}

.single-filter-link img {
  width: 24px;
}

.single-filter-link:not(:first-child) {
  border-bottom: 3px solid #fff;
  font-weight: 500;
}

.single-filter-link:not(:first-child):hover {
  border-bottom: 3px solid var(--dark-divider-color);
}

.single-filter-link:not(:first-child) img {
  filter: contrast(calc(13 / 44));
}

.single-filter-link:not(:first-child) span {
  color: var(--gray-text);
}

.filter-section .filter-container .custom-filter-btn {
  padding-left: 2rem;
}

.filter-container .custom-filter-btn button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--dark-divider-color);
  padding: 0.9rem 1rem;
  border-radius: 12px;
  font-size: 12px;
  gap: 0.4rem;
  font-weight: 500;
}

/********** RESULTS-ITEM *********/

.items-section .item-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  gap: 1.5rem;
  row-gap: 2.25rem;
}

.item-list .item-wrapper {
  position: relative;
}

.item-wrapper .img-wrapper {
  position: relative;
}

.item-list .item img {
  width: 100%;
  aspect-ratio: 10/9.5;
  object-fit: cover;
  border-radius: 12px;
  vertical-align: bottom;
}

.item-wrapper .add-btn-container {
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 2;
}

.add-btn-container button {
  background-color: transparent;
}

.item-wrapper .img-wrapper .dots-wrapper {
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.item-wrapper .dots-wrapper .dot {
  /* --dark-shadow: rgb(180 180 180); */
  width: 5.5px;
  height: 5.5px;
  border-radius: 50%;
  background-color: var(--dark-shadow);
  opacity: 0.8;
}

.item-wrapper .dots-wrapper .dot:first-child {
  background-color: #fff;
  opacity: 1;
}

.item-wrapper .dots-wrapper .dot:nth-child(3) {
  width: 6.5px;
  height: 6.5px;
}

.item-wrapper .img-wrapper .next-btn-container {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  opacity: 0;
  visibility: hidden;
}

.item-wrapper .img-wrapper .next-btn {
  padding: 0.5rem;
  background-color: #fff;
  opacity: 0.85;
  border-radius: 50%;
  transition: opacity 150ms ease;
}

.item-wrapper:hover .next-btn-container {
  opacity: 1;
  visibility: visible;
}

.item-wrapper .img-wrapper .next-btn:hover {
  opacity: 1;
}

.item-wrapper .info-wrapper {
  padding-top: 0.8rem;
  font-size: 15px;
  font-weight: 300;
  line-height: 22px;
}

.item-wrapper .info-wrapper .location {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
}

.item-wrapper .info-wrapper .rating {
  font-weight: 300;
}

.item-wrapper .info-wrapper .date-added {
  color: var(--gray-text);
  font-weight: 300;
}

.item-wrapper .info-wrapper .renting-for {
  color: var(--gray-text);
}

.item-wrapper .info-wrapper .price {
  margin-top: 0.5rem;
}

.item-wrapper .info-wrapper .price span:first-child {
  font-weight: 600;
}

/********** PAGE FOOTER *******/

.page-footer {
  padding: 0.9rem 0;
  border-top: 1px solid var(--dark-divider-color);
  position: fixed;
  z-index: 3;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #fff;
}

.page-footer .footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.footer-container .left,
.footer-container .right {
  display: flex;
  gap: 1.2rem;
  font-weight: 300;
}

.footer-container .left .footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.footer-container .footer-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.footer-container .footer-links a span {
  height: fit-content;
  text-align: center;
}

.footer-container .right button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  font-size: 14px;
}

.footer-container .right button span {
  font-weight: 600;
}

.footer-container .right button span:hover {
  text-decoration: underline;
}

.show-map {
  position: fixed;
  bottom: 90px;
  left: 50%;
  transform: translateX(-50%);
}

.show-map button {
  background-color: var(--secondary-color);
  padding: 0.85rem 1.25rem;
  color: #fff;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 25px;
}
